@charset "UTF-8"; 
:root {
  --color-1J24F143-primary: #1j4b99;
}
/*
デザイン意図
-配色：ナビゲーションバーをrgb(184, 225, 61)、小見出しをlightblueにした。明るく爽やかな印象を与えることで、観光情報サイトらしいワクワク感を表現した。
-レイアウト：PCでは、本文や画像などを左右に分けて配置し、必要な情報を同時に参照できるようにした。スマホでは、画面の幅に合わせて本文や画像を縦に並べ、スクロールしながら順序よく情報を把握できるように工夫した。
*/


/* ページ全体の基本フォントを指定 */
body {
  font-family: Arial, sans-serif; /* Arialが優先、なければ標準のゴシック体 */
}

/* ナビゲーションバー（メニュー全体）のスタイル */
nav {
  background-color: rgb(184, 225, 61); /* 背景色をネイビーに */
}

/* ナビゲーション内のリスト全体（横並びにする部分） */
nav ul {
  list-style-type: none; /* リストマーク（●など）を消す */
  margin: 0;             /* 外側の余白を消す */
  padding: 0;            /* 内側の余白を消す */
  display: flex;         /* 横並びにする */
  width: 100%;           /* 横幅を親要素いっぱいにする */
  flex-wrap: wrap;       /* 画面が狭いときに折り返して2行にする */
}

/* 各メニュー項目（リスト1つ分）のスタイル */
nav li {
  flex: 1; /* 幅を均等に分ける（全体を自動で割り算して調整） */
  border-right: 1px solid #bbb; /* 右側に薄い線を入れる */
}

/* 最後のメニュー項目だけは右側の線を消す */
nav li:last-child {
  border-right: none;
}

/* 各メニューリンク（クリックできる部分）のスタイル */
nav a {
  display: block;            /* ブロック要素にして全体をクリック可能にする */
  color: #080808;            /* 文字色を明るい灰色に */
  text-align: center;        /* 文字を中央寄せに */
  padding: 14px 16px;        /* 内側の余白を上下14px、左右16pxにする */
  text-decoration: none;     /* 下線を消す */
}

/* マウスを重ねたとき（hover）のスタイル */
/* 疑似クラス */
nav a:hover {
  background-color: #ddd; /* 背景を薄いグレーに */
  color: black;           /* 文字色を黒に変える */
}

/* コンテンツ表示部分（仮のsection） */
section {
  /* background-color: lightslategrey; ← コメントアウト：背景色を仮設定 */
  height: 400px;  /* 高さを400pxに固定 */
  color: black;   /* 文字色を黒に */
}

/*自分でした*/

.wrap{
  text-align: center;
}
.fi{
  text-align: center;
}

.fig_10 {
  text-align: center;

}

.a {
  float: left;
  text-align: center;
}
.a{
  clear: both;
}

.b {
  float: right;
  text-align: center;
}
.b {
  clear: both;
}

.d {
  text-align: center;
}

.e {
  text-align: center;
}

#hogen table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}
#hogen th,
#hogen td {
  border: 1px solid #c7c7c7;
  padding: 8px;
}
#hogen th {
  background-color:rgb(226, 205, 179);
  text-align: left;
  width: 5em;
}

h2 {
  background-color: lightblue;
  
}

.j {
   padding-bottom: 30px;
}
.k {
  margin: 10px;
}
h3 {
  color:rgb(215, 138, 152);
}

.giji::after{
  content:"学校の給食に出るほど、地元で愛されている逸品です！";
}


@media screen and (max-width: 1023px) {
  body{
    background-color: #fff;
  }
  .container{
    width: 100%;
    padding: 10px;
  }
  h1{
    font-size: 1.8em;
  }
  p{
    font-size: 1em;
  }
}


@media screen and (max-width: 400px) {
  body {
    background-color: gainsboro;
    font-size: 1.5rem;
    margin: 0;
  }
  #footer {
    width: 100%;
    padding: 0.5%;
    box-sizing: border-box;
  }
}






/* ページ下部のフッター部分 */
footer {
  background-color: rgb(214, 214, 215); /* 背景色をロイヤルブルーに */
  height: 100px;               /* 高さを100pxに固定 */
  color: #010101;             /* 文字色を明るい灰色に */
  text-align: center;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

